/* generali */
body {
font-family: 'Roboto', sans-serif;
max-width: 800px;
margin: auto;
background-color: #b91450;
}

h1, h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

span {
  font-weight: 800;
}

button {
  padding: 5px 10px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
}

label, button {
  color: #b91450;
}

input, select {
  display: block;
  border: 1px solid #b91450;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

/* id */
#report-nome-cognome {
  font-weight: 600;
}

#passeggero {
  background-color: #808080;
  padding: 0 10px;
}

/* classi */
.flex {
  display: flex;
  justify-content: space-around;
}

.flex.center {
  justify-content: center;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.nohide {
  display: block;
}

.biglietto-acquisto, .biglietto-report {
  background-color: white;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 3px rgba(0,0,0,0.2);
}
