/* generali */
body {
font-family: 'Roboto', sans-serif;
max-width: 800px;
margin: auto;
background-color: #b91450;
}

h1, h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

span {
  font-weight: 800;
}

button {
  padding: 5px 10px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #b91450;
}

label, button {
  color: #b91450;
}

input, select {
  display: block;
  border: 1px solid #b91450;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

input:focus, select:focus {
  background-color: #b91450;
  color: white;
}

/* id */
#report-nome-cognome {
  font-weight: 600;
}

#passeggero {
  background-color: #808080;
}

/* classi */
.flex {
  display: flex;
  justify-content: space-around;
}

.flex.center {
  justify-content: center;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.nohide {
  display: block;
}

.biglietto-acquisto, .biglietto-report {
  background-color: white;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 3px rgba(0,0,0,0.2);
}

.biglietto-report .flex {
  margin: 0 20px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  justify-content: space-between;
}

.biglietto-report .flex > div {
  padding: 0 10px;
}
